@model IEnumerable<blog_website.Models.classes.Blog>

@{
    ViewData["Title"] = "Home Page";
}

<h1 class="display-4 welcome">Welcome</h1>
@if (Model.ToList().Count > 0)
{
    <div class="border">
        <div class="scroll-container">
            @foreach (var script in Model)
            {
                <div class="script-item">
                    <h2 class="script-title">@script.Title</h2>
                    <h3 class="script-name">@script.User.Name</h3>
                    <h3 class="script-date">@script.CreateDateTime</h3>
                    <p class="script-substance">@script.Substance</p>
                    <a class="read-more" href="@Url.Action("Details", "Home", new { id = script.Id })">Read More</a>
                </div>
            }
        </div>
    </div>
}